.Title {
  position: absolute;
  top: 10px;
  left: 120px;
}

.Title-text {
  font-size: 2.5vh;
  font-weight: bold;
}

.menu-icon {
  position: absolute;
  top: 10px;
  left: 15px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  backdrop-filter: blur(2rem);
  z-index: 2;
  border-radius: 30%;
  width: 60px;
  height: 60px;
  box-shadow: 1px 1px 5px 1px rgb(112, 112, 112);
}

.bar1 {
  align-self: center;
  width: 70%;
  height: 3px;
  border-radius: 10px;
  background-color: rgb(100, 167, 255);
  margin: 12.5px 10px;
}

.home {
  position: absolute;
  top: 10px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 20%;
  width: 100px;
  height: 60px;
  box-shadow: 0px 0px 50px rgb(95, 95, 95);
  animation-name: menu-animation;
  animation-duration: 3.5s;
  backdrop-filter: blur(1rem);
  z-index: 2;
  transform: translateX(-350px);
}

.about {
  position: absolute;
  top: 10px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 20%;
  width: 100px;
  height: 60px;
  box-shadow: 0px 0px 50px rgb(95, 95, 95);
  animation-name: menu-animation;
  animation-duration: 3.5s;
  backdrop-filter: blur(1rem);
  z-index: 2;
  transform: translateX(-350px);
}

.bar2 {
  align-self: center;
  width: 50%;
  height: 3px;
  border-radius: 10px;
  background-color: rgb(100, 167, 255);
  margin: -1px 10px;
}

.bar3 {
  align-self: center;
  width: 35%;
  height: 3px;
  border-radius: 10px;
  background-color: rgb(100, 167, 255);
  margin: 12px 10px;
}

.breakPoint {
  width: 100%;
  height: 1px;
  background-color: lightgrey;
  margin-top: 80px;
}

.theme {
  font-size: 5vh;
  font-weight: bold;
  align-self: center;
  margin-bottom: 20vh;
}

.app {
  font-size: 4vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.Image1 img {
  transition: 0.5s all ease-in-out;
}

.Image1 {
  box-shadow: 0px 0px 30px 0px lightgrey;
}

.Image1:hover img {
  transform: scale(1.2);
  box-shadow: 0px 0px 50px 0px lightgrey;
}

.Download-btn {
  box-shadow: 0px 0px 20px 0px skyblue;
  transition: 0.5s all ease-in-out;
}

.Download-btn:hover {
  box-shadow: 0px 0px 40px 0px skyblue;
  animation-name: download-btn;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.footer {
  background-color: rgb(34, 33, 33);
  position: absolute;
  bottom: -1;
  width: 100%;
  height: 15%;
  align-items: center;
  margin-top: 15vh;
}

@keyframes download-btn {
  from {
    box-shadow: 0px 0px 20px 0px skyblue;
  }
  to {
    box-shadow: 0px 0px 40px 0px skyblue;
  }
}

@keyframes menu-animation {
  from {
    transform: translateX(-350px);
  }
  to {
    transform: translateX(-300px);
  }
}
