.GlassMorphism {
  background: linear-gradient(
    to left bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  backdrop-filter: blur(1.3rem);
  z-index: 2;
  min-height: 80vh;
  min-width: 90%;
  border-radius: 2rem;
}
