* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #ffc0cb, #d885ff, #81ebea);
  min-height: 100vh;
}

.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #ffc0cb, #d885ff, white);
  min-height: 100vh;
}

.GlassMorphism {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  backdrop-filter: blur(2rem);
  z-index: 2;
  min-height: 80vh;
  border-radius: 2rem;
}

.GlassMorphism2 {
  background: linear-gradient(
    to left bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  backdrop-filter: blur(1.3rem);
  z-index: 2;
  min-height: 80vh;
  min-width: 90%;
  border-radius: 2rem;
}

.glass2 {
  background: linear-gradient(to right, #9b0bdc, #81ebea);
  box-shadow: 0 0.5rem 1rem rgba(122, 122, 122, 0.5);
  backdrop-filter: blur(2rem);
  z-index: 2;
  width: 200px;
  height: 50px;
  border-radius: 2rem;
  position: absolute;
  bottom: 40%;
  margin-left: 67%;
}

.circle1 {
  position: absolute;
  top: 2%;
  right: 20%;
}

.circle3 {
  position: absolute;
  bottom: 2%;
  left: 10%;
}

.circle2 {
  position: absolute;
  top: 90%;
  background: linear-gradient(to left bottom, blue, purple);
  border-radius: 120px;
  padding: 90px;
}
